.portfolio__link {
    margin-right: 8px;
}
$portfolio-resume-spacing: 1rem;

.portfolio-resume-spacing {
  margin-bottom: $portfolio-resume-spacing;
}

.portfolio-resume-wrapper {
  padding: 1rem 2rem;
}

.portfolio-resume-headshot {
  border-radius: 50%;
  width: 75px;
  margin-left: 2rem;
  margin-top: 1rem;
}

.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid $light-gray;
  font-weight: bold;
  margin-bottom: 1rem;
}

.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;

  a {
    color: $black;
  }

  .fa {
    font-size: 1.4rem;
    padding-right: 0.8rem;
    vertical-align: middle;
    color: $black;
  }
}
