@import '~foundation-sites/scss/util/util';
@import 'settings';
@import '~foundation-sites/scss/global';

@import '~foundation-sites/scss/foundation.scss';
@include foundation-everything;
@import './timeline.scss';
@import './portfolio.scss';

@include breakpoint(small only) {
  .portfolio-resume-wrapper {
    padding: 2rem;
  }

  .portfolio-resume-wrapper--timeline {
    padding: 0;
    .portfolio-resume-header{
      padding-left: 2rem
    }
  }

  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;

    &::before {
      left: 0;
    }

    .timeline-item {
      .timeline-content {
        float: right;
        text-align: left;
        width: 90%;

        &::before,
        &.right::before {
          border-left: 0;
          border-right: 7px solid $timeline-color;
          left: 10%;
          margin-left: -6px;
        }
      }

      .timeline-icon {
        left: 0;
      }
    }
  }
}
